.bg-theme{
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}


.cart-icon{
  font-size:2rem;
}

.hero-background{
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.title{
  padding-bottom: 90px;
  
}
.about-background{
  min-height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contact-background{
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contactt{
  margin-top: 20px;
}